.TodoItem {
  background-color: var(--text-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 35px;
  box-shadow: 0px 5px 30px rgba(202, 206, 207, 0.3);
}
.TodoItem:hover {
  box-shadow: 0px 5px 30px rgba(202, 206, 207, 0.75);
}

.TodoItem-p {
  margin: 14px 0px 14px 0px;
  width: calc(100% - 120px);
  height: auto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--light-color);
}
.TodoItem-p--complete {
  text-decoration: line-through;
  color: var(--unchecked-color);
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 34px;
  font-size: 24px;
  font-weight: bold;
  margin: -12px;
}

.Icon-check {
  color: var(--unchecked-color);
  position: absolute;
  left: 18px;
  border-radius: 25px;
  border: var(--unchecked-color) solid;
}

.Icon-check:hover {
  color: var(--checked-green);
}

.Icon-check--active {
  color: var(--checked-green);
  font-size: 30px;
  border-radius: 25px;
  border: var(--checked-green) solid;
}

.Icon-delete {
  color: var(--delete-red);
  font-size: 20px;
  position: absolute;
  top: -12px;
  right: 0;
  box-sizing: border-box;
  margin: 0;
  height: 30px;
  width: 30px;
  background-color: var(--text-color);
  border-radius: 25px;
  box-shadow: 0px 1px 25px rgba(202, 206, 207, 0.3);
}
.Icon-delete:hover {
  box-shadow: 0px 1px 25px rgb(255, 0, 0, 0.8);
  transform: scale(1.1);
}
