.reloadInfoButton {
  background-color: var(--dark-main-color);
  border-radius: 25px;
  border-style: solid;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.reloadIcon {
  margin: auto;
  padding: 0;
  padding-top: 2px;
  filter: invert(82%) sepia(41%) saturate(5598%) hue-rotate(164deg)
    brightness(97%) contrast(94%);
}

.reloadInfoButtonText {
  color: gray;
  box-sizing: border-box;
  height: 35px;
  margin: 0;
  margin-left: 16px;
  padding-top: 10px;
}

.reloadInfoButtonContainer {
  display: flex;
  margin-bottom: 52px;
  margin-top: -24px;
  align-self: flex-start;
  position: absolute;
  bottom: -20px;
}
