:root {
  --dark-main-color: rgb(30, 31, 37);
  --main-color: rgb(53, 188, 241);
  --text-color: #21272e;
  --light-color: rgb(187, 222, 251);
  --checked-green: rgb(27, 187, 27);
  --unchecked-color: rgb(110, 110, 110);
  --delete-red: rgb(255, 52, 37);
}

body {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 650px;
  overflow-x: hidden;
  padding: 0;
  margin: 0 auto;
  align-items: center;
  background-color: var(--dark-main-color);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

#root {
  margin: 20px 8%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  background-color: var(--text-color);
  padding: 36px;
  border-radius: 50px;
  box-shadow: 0px 5px 30px rgba(202, 206, 207, 0.3);
}
