.TodoSearchMain {
  display: flex;
  margin-bottom: 12px;
  /* max-width: 800px; */
}

.TodoSearchMain img {
  width: 30px;
  height: 30px;
  align-self: center;
  position: absolute;
  margin-left: 42px;
}

.TodoSearch {
  display: flex;
  align-items: center;
  background: var(--dark-main-color);
  box-sizing: border-box;
  border-radius: 35px;
  border: 2px solid var(--unchecked-color);
  margin: 0 auto;
  height: 48px;
  width: calc(100% - 62px);
  /* max-width: 800px; */
  font-size: 16px;
  text-align: center;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--light-color);
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

.TodoSearch::placeholder {
  color: var(--unchecked-color);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.TodoSearch:focus {
  border: none;
  outline: 3px solid;
  outline-color: var(--main-color);
  /* transform: scale(1.05); */
}

.TodoSearchMain > img {
  filter: invert(44%) sepia(11%) saturate(0%) hue-rotate(164deg) brightness(95%)
    contrast(93%);
}

.TodoSearch:disabled {
  /* opacity: 50%; */
  background: linear-gradient(90deg, rgb(30, 31, 37, 1), rgb(152, 154, 155));
  background-size: 400% 40%;
  animation: loadingAnimation 4s linear infinite;
  font-size: 0%;
  border: none;
  z-index: 1;
}

@keyframes loadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
